.footer{
    margin-top: auto;
    width: 100%;
    padding: 40px 120px;
    background-color: #ed3136;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 300px;
    gap: 150px;
}
.footer__logo{
    width: 200px;
}
.footer__container--address{
    margin-left: auto;
}
.footer__container-title{
    margin-bottom: 20px;
}
.footer__phone{
    font-size: 18px;
}
.footer__socials{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer__social{
    text-decoration: none;
    color: white;
    font-size: 30px;
}