.header{
    width: 100%;
    height: 80px;
    padding: 0 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 2;
}
.header--mobile{
    display: none;
    justify-content: space-between;
}
.header__placeholder{
    height: 80px;
}
.header--fixed{
    position: fixed;
}
.header__logo{
    width: 100px;
}
.header__title-container{
    display: flex;
    align-items: center;
}   
.header__title{
    margin-left: 20px;
    font-size: 22px;
    color: #0f0b31;
}
.header__nav{
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
}
.header__nav-link{
    padding: 0 23px;
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #0f0b31;
    font-weight: 600;
}

.header__nav-link--active{
    border-bottom: 2px solid #ed3136;
    color: #ed3136;
}
.header__nav-cart{
    padding: 10px 24px;
    background-color: #ed3136;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-left: 16px;
}
.header__nav-icon{
    width: 40px;
}
.header__button-headerbar{
    color: #ed3136;
    font-size: 40px;
}
@media screen and (max-width: 1024px) { 
    .header{
        padding: 0 55px;
    }
    .header__title{
        font-size: 18px;
    }
    .header__nav-link{
        padding: 0 16px;
    }
    .header__nav-cart, .header__nav-link{
        font-size: 14px;
    }
    .header__nav-icon{
        width: 30px;
    }

}
@media screen and (max-width: 768px) { 
    .header__logo{
        width: 75px;
    }
    .header{
        padding: 0 16px;
    }
    .header__title{
        font-size: 16px;
    }
    .header__nav-link{
        padding: 0 16px;
    }

}
@media screen and (max-width: 640px) {
    .header__nav-cart{
        margin: 0;
    }

}
@media screen and (max-width: 600px) {
    .header--desktop{
        display: none;
    }
    .header--mobile{
        display: flex;
    }
}

.headerside{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.headerside__container{
    background-color: white;
    color: #0f0b31;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 16px 16px;
}
.headerside__title-container{
    display: flex;
    align-items: center;
    height: 80px;
}
.headerside__title{
    font-size: 16px;
    margin-left: 20px;
}
.headerside__close{
    color: inherit;
    font-weight: 600;
    margin-left: auto;
    font-size: 24px;
}
.headerside__nav-link{
    color: inherit;
    padding: 0 23px;
    text-decoration: none;
    font-weight: 600;
    margin: 0;
}
