.hero{
    display: grid;
    grid-template-columns: 45% 50%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.hero__image{
    width: 100%;
}
.hero__title{
    font-size: 55px;
    color: #ed3136;
    margin-bottom: 20px;
}
.hero__description{
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
}
@media screen and (max-width: 1024px) { 
    .hero__title{
        font-size: 40px;
    }
}
@media screen and (max-width: 768px) { 
    .hero__title{
        font-size: 24px;
    }
    .hero__description{
        font-size: 16px;
    }
}
@media screen and (max-width: 600px) { 
    .hero{
        grid-template-columns: 80%;
    }
    .hero__title {
        font-size: 32px;
    }
}