.categories__title-container{
    width: 100%;
    border-bottom: 2px solid #ED3136;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.categories__title{
    color: #ED3136;
    margin-bottom: 12px;
    font-size: 40px;
}
.categories__selector{
    margin-left: auto;
}
.categories__dropdown{
    position: relative;
    height: 40px;
    width: 300px;
}
.categories__dropdown-button{
    width: 300px;
    text-align: start;
    padding: 10px;
    background-color: white;
}
.categories__dropdown-container{
    position: absolute;
    display: flex;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateY(38px);
    width: 300px;
}
.product__list-container{
    display: flex;
    align-items: stretch;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.product__list-title{
    font-size: 30px;
    margin-bottom: 15px;
}
.product{
    border-radius: 20px;
    background-color: white;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    height: 450px;
}
.product__image-container{
    width: 250px;
    min-height: 250px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.product__image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 15px;
}
.product__info{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: stretch;
}
.product__name{
    font-size: 19px;
    font-weight: 700;
}
.product__price{
    font-size: 32px;
    font-weight: 600;
}
.product__button{
    display: flex;
    align-items: center;
    background-color: #ED3136;
    justify-content: center;
    color: white;
    padding: 10px 24px;
    margin-top: 20px;
    border-radius: 50px;
    font-size: 12px;
}
.product__button-icon{
    width: 30px;
}