.sidebar{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 3;
}
.sidebar__container{
    height: 100%;
    width: 550px;
    background-color: white;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    animation-name: sidebar;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
}
@keyframes sidebar{
    from{
        transform: translateX(100%);
    }
    to{
        transform: 0;
    }
}
.cart__header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(190, 190, 190);
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.cart__cart{
    overflow-y: auto;
}
.cart__button-close{
    font-size: 25px;
    font-weight: 700;
}
.cartItem__image-container{
    min-width: 160px;
    max-width: min-content;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartItem__image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-right: 30px;
}
.cartItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.cartItem__info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cartItem__selector{
    display: flex;
    align-items: center;
}
.cartItem__price{
    font-weight: 500;
}
.cartItem__change{
    padding: 10px;
    color: white;
    
}
.cartItem--minus{
    background-color: #ed3136;
    border-radius: 50px 0 0 50px;
}
.cartItem--plus{
    background-color: #ed3136;
    border-radius: 0 50px 50px 0;
}
.cartItem__quantity{
    padding: 10px 20px;
    font-weight: 500;
}
.cartItem__remove{
    margin-left: auto;
    margin-right: 20px;
    border-radius: 50px;
    background-color: #ed3136;
    padding: 10px 20px;
    color: white;
}
.cart__finish{
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    margin: auto -40px -30px;
    padding: 30px;
}
.cart__total{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
}
.cart__finish-button{
    color: white;
    background-color: #ed3136;
    display: block;
    margin: 30px auto 0;
    padding: 20px 80px;
    border-radius: 50px;
}
@media screen and (max-width: 600px) {
    .cart__total{
        margin: 0 20px;
    }
    .sidebar__container{
        width: 100%;
        padding: 20px;
    }
}
@media screen and (max-width: 500px) {
    .cartItem__image-container{
        min-width: 120px;
        height: 120px;
    }
}
@media screen and (max-width: 360px) {
    .cartItem__image-container{
        min-width: 100px;
        height: 100px;
    }
}